$page_size_width: 100vw;
$page_size_height: 100vh;
$typing_time: 0.875s;
$pop_in_time: 1.5s;
$delay_time: ($pop_in_time - $typing_time)/$pop_in_time;
$testP: 6%;
//Grid reference
// .container {
//   display: grid;
//   grid-template-columns: 50px 50px 50px 50px;
//   grid-template-rows: auto;
//   grid-template-areas: 
//     "header header header header"
//     "main main . sidebar"
//     "footer footer footer footer";
// }

// .mainContentContainer{
//     width: $page_size_width;
//     height: $page_size_height;
//     display: grid;
// }
.mainContentContainer{
    width: $page_size_width;
    height: $page_size_height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NavBar{
    background-color: rgb(69, 81, 112);
}
.backgroundImgContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.backgroundImg{
    width: 100%;
    height: 100%;
}
//// Type writter stuff
.WelcomeButton{
    background-color: lightblue;
}
.typeWritterContainer{

    display: flex;
    justify-content: center;
}
.typewritter{
    width: 25%;
}
.typewritter > h1{
    // width: 25%;
    color: rgb(224, 103, 103);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing $typing_time + $pop_in_time steps(40, end),// + 1.5 pop in time
  blink-caret .75s step-end infinite;  
}
/* The typing effect */
@keyframes delayAni{
    0% {width: 0%}
    100%{width:0%}
}
@keyframes typing {
//   from { width: 0% }
//   to { width: 100% }
    0% {width: 0%}
    60% {width: 0%}
    // 70%{width: 60%;}
    100%{width:100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {//blinking
//   from, to { border-color: transparent }
  0% { border-color: transparent }
  50% { border-color: orange; }
}   

///Profile picture
.profilePictureContainer{
    // display: flex;
    // align-items: center;
}

.profilePic{
    border-radius: 6em;
    animation:
        pop-in $pop_in_time;
     
}

@keyframes pop-in {
50% { opacity: 0; transform: scale(0.5); }
80% {opacity:  1; transform: scale(1);}
90% {opacity:  1; transform: scale(1.5);}
100% { opacity: 1; transform: scale(1); }
}